<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Manufacturer</h1>

<p th:if="${error}" th:text="${error}" style="color:red;"></p>

<form th:action="${manufacturer.manufacturerId} == null ? '/manufacturers' : '/manufacturers/' + manufacturer.manufacturerId"
      method="post"
      th:object="${manufacturer}">

    <label>Name:
        <input type="text" th:field="*{name}">
    </label>

    <button type="submit">Save</button>
</form>

<br><br>
<a href="/manufacturers" style="text-decoration:none; padding:6px 12px; background:#ddd; border-radius:4px;"> Вернуться </a>

</body>
</html>
